body {
  font-family: 'Courier New', monospace;
    background-color: #F1F3C2;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  .app-header {
    background-color: #E8B86D; /* a deeper orange for contrast */
    color: rgb(53,52,52);
    text-align: center;
    padding: 24px 0;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    border-bottom: 4px solid #CEDF9F;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
  }
 

  .main-btn, .sos-btn {
    display: block;
    width: 100%;
    padding: 24px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .main-btn {
    background-color: #A1D6B2;
    color: rgb(53, 52, 52);
  }
  
  .main-btn:hover {
    background-color: #A1D6B2;
  }
  
  .sos-btn {
    background-color: #F75A5A;
    color: rgb(68, 66, 66);
  }
  
  .sos-btn:hover {
    background-color: #F75A5A;
  }
  